In [5]:
#pip install mlxtend

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
from mlxtend.plotting import scatterplotmatrix
import seaborn as sns
import sklearn

In [ ]:
df = pd.read_csv('dados.csv', sep=',')
df

        Diabetes_012  HighBP  HighChol  CholCheck  ...  Sex   Age  Education  Income
0                0.0     1.0       1.0        1.0  ...  0.0   9.0        4.0     3.0
1                0.0     0.0       0.0        0.0  ...  0.0   7.0        6.0     1.0
2                0.0     1.0       1.0        1.0  ...  0.0   9.0        4.0     8.0
3                0.0     1.0       0.0        1.0  ...  0.0  11.0        3.0     6.0
4                0.0     1.0       1.0        1.0  ...  0.0  11.0        5.0     4.0
...              ...     ...       ...        ...  ...  ...   ...        ...     ...
253675           0.0     1.0       1.0        1.0  ...  1.0   5.0        6.0     7.0
253676           2.0     1.0       1.0        1.0  ...  0.0  11.0        2.0     4.0
253677           0.0     0.0       0.0        1.0  ...  0.0   2.0        5.0     2.0
253678           0.0     1.0       0.0        1.0  ...  1.0   7.0        5.0     1.0
253679           2.0     1.0       1.0        1.0  ...  0.0   9.0        6.0     2.0

[253680 rows x 22 columns]

In [ ]:
df[df.duplicated()]

        Diabetes_012  HighBP  HighChol  CholCheck  ...  Sex   Age  Education  Income
1242             2.0     1.0       1.0        1.0  ...  0.0  10.0        4.0     5.0
1563             0.0     0.0       0.0        1.0  ...  0.0   4.0        6.0     8.0
2700             0.0     0.0       0.0        1.0  ...  0.0   5.0        6.0     8.0
3160             0.0     0.0       0.0        1.0  ...  0.0   4.0        6.0     8.0
3332             0.0     0.0       0.0        1.0  ...  1.0   9.0        6.0     8.0
...              ...     ...       ...        ...  ...  ...   ...        ...     ...
253492           2.0     1.0       1.0        1.0  ...  1.0   9.0        6.0     6.0
253550           0.0     0.0       0.0        1.0  ...  0.0   7.0        6.0     8.0
253563           0.0     0.0       1.0        1.0  ...  1.0   8.0        6.0     8.0
253597           0.0     0.0       0.0        1.0  ...  0.0   5.0        6.0     8.0
253638           0.0     0.0       0.0        1.0  ...  1.0   1.0        4.0     6.0

[23899 rows x 22 columns]

In [ ]:
df = df.drop_duplicates()

In [ ]:
df.isnull().sum()

Diabetes_012            0
HighBP                  0
HighChol                0
CholCheck               0
BMI                     0
Smoker                  0
Stroke                  0
HeartDiseaseorAttack    0
PhysActivity            0
Fruits                  0
Veggies                 0
HvyAlcoholConsump       0
AnyHealthcare           0
NoDocbcCost             0
GenHlth                 0
MentHlth                0
PhysHlth                0
DiffWalk                0
Sex                     0
Age                     0
Education               0
Income                  0
dtype: int64

In [ ]:
df

In [ ]:
df[df.duplicated()]

In [ ]:
# Definindo a matriz de atributos
X = df.iloc[:,1:22]
#print(X)
# Definindo o vetor classe
y = df.iloc[:, 0]
#print(y)

In [ ]:
counts_y = y.value_counts()
print(counts_y)

In [ ]:
#############################
####### SEM BALANCEAR #######
#############################

In [ ]:
from mlxtend.plotting import scatterplotmatrix
names = df.columns [0:22]
fig,axes = scatterplotmatrix(X[y==0].values, figsize=(50, 50), alpha=0.5)
fig,axes = scatterplotmatrix(X[y==1].values, fig_axes=(fig, axes), alpha=0.5)
fig,axes = scatterplotmatrix(X[y==2].values, fig_axes=(fig, axes), alpha=0.5, names=names)

plt.tight_layout()
plt.legend(labels=['O', '1', '2'])
plt.show()

In [ ]:
###### OUTLIERS ########

# Detecção de outliers baseada em quantis
# De acordo com Tukey (1977) e Bruce, Bruce & Gedeck (2020):
# Valores abaixo de Q1 - 1.5 * IQR podem ser considerados outliers inferiores e
# Valores acima de Q3 + 1.5 * IQR podem ser considerados outliers superiores

# Loop sobre todas as colunas (atributos + classe)
for coluna in df.columns:

    Q1 = df[coluna].quantile(0.25) # Primeiro quantil
    Q3 = df[coluna].quantile(0.75) # Terceiro quantil
    IQR = Q3 - Q1 # InterQuartile Range

    limite_inferior = Q1 - 1.5 * IQR # Outliers inferiores
    limite_superior = Q3 + 1.5 * IQR # Outliers superiores

    plt.figure(figsize=(8, 4))
    sns.boxplot(x=df_iris[coluna], color='#63b882')

    plt.axvline(Q1, color='blue', linestyle='--', label='Q1')
    plt.axvline(Q3, color='brown', linestyle='--', label='Q3')
    plt.axvline(limite_inferior, color='red', linestyle=':', label='Limite Inferior (Q1 - 1.5×IQR)')
    plt.axvline(limite_superior, color='black', linestyle=':', label='Limite Superior (Q3 + 1.5×IQR)')

    plt.title(f'Detecção de outliers - {coluna}', fontsize=14)
    plt.legend(loc='upper right')
    plt.tight_layout()
    plt.show()

In [ ]:
###VERIFICAR COLUNAS IMPORTANTES - IMPORTÂNCIA
from sklearn.ensemble import RandomForestRegressor
#x = as colunas descritivas (features)
#y = a coluna alvo
X = df.drop(columns=['nomedacoluna'])
y=df['nomedacoluna']

#treina o modelo
model = RandomForestRegressor()
model.fit(x,y)

#importância das features
importances = model.feature_importances_

#cria um dataframe para visualizar
feat_importances = pd.Dataframe({
    'Feature': X.columns,
    'Importance': importances
}).sort_values('Importance', ascending=False)

print(feat_importances)

In [ ]:
from sklearn.linear_model import LinearRegresison

model = LinearRegression()
model.fit(X,y)

#coef_ mostra o peso de cada feature
coef = model.coef_

feat_weights = pd.DataFrame({
    'Feature': X.columns,
    'Peso': coef
}).sort_values('Peso',key=abs, ascending=False)

print(feat_weights)

In [ ]:
### DELETAR COLUNAS NÃO IMPORTANTES

In [ ]:
##boxplot de todas as colunas
#fig, ax = plt.subplots(figsize=(8, 6))

#ax.boxplot(df[''], patch_artist=True, boxprops=dict(facecolor='green'))
#ax.set_title('Boxplot')

#ax.grid(False)

#plt.tight_layout()

#plt.show()

In [ ]:
#verificar se tem dados duplicados

#deletar os dados duplicados:
#df = df.drop_duplicates()