In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

In [3]:
df = pd.read_csv('dados.csv', sep=',')
df

        Diabetes_012  HighBP  HighChol  CholCheck  ...  Sex   Age  Education  Income
0                0.0     1.0       1.0        1.0  ...  0.0   9.0        4.0     3.0
1                0.0     0.0       0.0        0.0  ...  0.0   7.0        6.0     1.0
2                0.0     1.0       1.0        1.0  ...  0.0   9.0        4.0     8.0
3                0.0     1.0       0.0        1.0  ...  0.0  11.0        3.0     6.0
4                0.0     1.0       1.0        1.0  ...  0.0  11.0        5.0     4.0
...              ...     ...       ...        ...  ...  ...   ...        ...     ...
253675           0.0     1.0       1.0        1.0  ...  1.0   5.0        6.0     7.0
253676           2.0     1.0       1.0        1.0  ...  0.0  11.0        2.0     4.0
253677           0.0     0.0       0.0        1.0  ...  0.0   2.0        5.0     2.0
253678           0.0     1.0       0.0        1.0  ...  1.0   7.0        5.0     1.0
253679           2.0     1.0       1.0        1.0  ...  0.0   9.0        6.0     2.0

[253680 rows x 22 columns]

In [4]:
df[df.duplicated()]

        Diabetes_012  HighBP  HighChol  CholCheck  ...  Sex   Age  Education  Income
1242             2.0     1.0       1.0        1.0  ...  0.0  10.0        4.0     5.0
1563             0.0     0.0       0.0        1.0  ...  0.0   4.0        6.0     8.0
2700             0.0     0.0       0.0        1.0  ...  0.0   5.0        6.0     8.0
3160             0.0     0.0       0.0        1.0  ...  0.0   4.0        6.0     8.0
3332             0.0     0.0       0.0        1.0  ...  1.0   9.0        6.0     8.0
...              ...     ...       ...        ...  ...  ...   ...        ...     ...
253492           2.0     1.0       1.0        1.0  ...  1.0   9.0        6.0     6.0
253550           0.0     0.0       0.0        1.0  ...  0.0   7.0        6.0     8.0
253563           0.0     0.0       1.0        1.0  ...  1.0   8.0        6.0     8.0
253597           0.0     0.0       0.0        1.0  ...  0.0   5.0        6.0     8.0
253638           0.0     0.0       0.0        1.0  ...  1.0   1.0        4.0     6.0

[23899 rows x 22 columns]

In [5]:
df = df.drop_duplicates()

In [6]:
df.isnull().sum()

Diabetes_012            0
HighBP                  0
HighChol                0
CholCheck               0
BMI                     0
Smoker                  0
Stroke                  0
HeartDiseaseorAttack    0
PhysActivity            0
Fruits                  0
Veggies                 0
HvyAlcoholConsump       0
AnyHealthcare           0
NoDocbcCost             0
GenHlth                 0
MentHlth                0
PhysHlth                0
DiffWalk                0
Sex                     0
Age                     0
Education               0
Income                  0
dtype: int64

In [7]:
df.describe()

        Diabetes_012         HighBP  ...      Education         Income
count  229781.000000  229781.000000  ...  229781.000000  229781.000000
mean        0.325627       0.454441  ...       4.980568       5.890383
std         0.724623       0.497921  ...       0.992895       2.092477
min         0.000000       0.000000  ...       1.000000       1.000000
25%         0.000000       0.000000  ...       4.000000       5.000000
50%         0.000000       0.000000  ...       5.000000       6.000000
75%         0.000000       1.000000  ...       6.000000       8.000000
max         2.000000       1.000000  ...       6.000000       8.000000

[8 rows x 22 columns]

In [8]:
df[df.duplicated()]

Empty DataFrame
Columns: [Diabetes_012, HighBP, HighChol, CholCheck, BMI, Smoker, Stroke, HeartDiseaseorAttack, PhysActivity, Fruits, Veggies, HvyAlcoholConsump, AnyHealthcare, NoDocbcCost, GenHlth, MentHlth, PhysHlth, DiffWalk, Sex, Age, Education, Income]
Index: []

In [ ]:
###VERIFICAR COLUNAS IMPORTANTES - IMPORTÂNCIA
from sklearn.ensemble import RandomForestRegressor
#x = as colunas descritivas (features)
#y = a coluna alvo
X = df.drop(columns=['nomedacoluna'])
y=df['nomedacoluna']

#treina o modelo
model = RandomForestRegressor()
model.fit(x,y)

#importância das features
importances = model.feature_importances_

#cria um dataframe para visualizar
feat_importances = pd.Dataframe({
    'Feature': X.columns,
    'Importance': importances
}).sort_values('Importance', ascending=False)

print(feat_importances)

In [ ]:
from sklearn.linear_model import LinearRegresison

model = LinearRegression()
model.fit(X,y)

#coef_ mostra o peso de cada feature
coef = model.coef_

feat_weights = pd.DataFrame({
    'Feature': X.columns,
    'Peso': coef
}).sort_values('Peso',key=abs, ascending=False)

print(feat_weights)

In [ ]:
### DELETAR COLUNAS NÃO IMPORTANTES

In [16]:
##boxplot de todas as colunas
#fig, ax = plt.subplots(figsize=(8, 6))

#ax.boxplot(df[''], patch_artist=True, boxprops=dict(facecolor='green'))
#ax.set_title('Boxplot')

#ax.grid(False)

#plt.tight_layout()

#plt.show()

In [17]:
#verificar se tem dados duplicados

#deletar os dados duplicados:
#df = df.drop_duplicates()